<article>
    <figure>
        <img src="img/" alt=""/>
    </figure>
    <h1>{{ title }}...</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi autem beatae
        consectetur delectus dolores eos excepturi expedita explicabo facere iure laudantium
        maxime mollitia nulla pariatur quidem ratione recusandae rem repellat repudiandae sequi,
        sit velit veritatis voluptatem voluptatum? Consectetur ea facere illum in molestiae nam
        nisi porro provident quaerat ratione rerum sed suscipit, totam velit vitae. Ad excepturi
        tempore voluptatum. <span class="read-more"><a href="#">Full Story <i class="fa fa-angle-double-right"></i></a></span></p>
    <aside class="post-meta">
        <ul class="list-inline">
            <li><i class="fa fa-angle-double-right"></i> Date: </li>
            <li><i class="fa fa-angle-double-right"></i> Tags: </li>
            <li><i class="fa fa-angle-double-right"></i> Comments: </li>
        </ul>
    </aside>

</article>