<aside class="author">
    <div class="row">
        <div class="col-sm-2 col-md-1">
            <div class="avatar">

            </div>
         </div>
        <div class="col-sm-10 col-md-11">
            <p>Author: John Hancok</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam necessitatibus porro quibusdam
                recusandae? Doloremque et minima quidem? Aliquam, animi assumenda corporis doloribus ducimus ea illo
                natus nemo ullam ut.
            </p>
        </div>
    </div>
</aside>