
    <div class="row">
        <div class="col-md-4">
            <aside>
                <h1>Site news.</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores debitis dolorem dolores
                    inventore, ipsa iure iusto laborum magni modi obcaecati perferendis ratione rerum!</p>
            </aside>
        </div>
        <div class="col-md-5">
            <aside>
                <h1>About</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eligendi error excepturi,
                    laboriosam laudantium officia optio porro reiciendis repudiandae sequi similique tempore totam,
                    velit!</p>
            </aside>
        </div>

        <div class="col-md-3">
            <aside>
                <h1>Stay Connected</h1>
                <div ng-include="components.social"></div>
            </aside>
        </div>
    </div>
    <div class="row copy-info">
        <div class="col-md-12 text-center"><p>&copy; Company 2013</p></div>
    </div>
